<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
    .container{
        align-content: center;
        align-items: center;
        text-align: center;
    }
    button{
        margin: 10px;
    }
      
</style>
<body>
    <div class="container">
        <h1 class="display-1">Counter</h1>
        <p class="lead"><strong>
           Visited {{ session['counter'] }} times
        </strong></p>
        <form action="/counter" method="POST">
            <button type="button" class="btn btn-light">Add 2 Visits !</button>
        </form>
        <form action="/reset_counter" method="POST">
            <button type="button" class="btn btn-dark">Reset Counter</button>   
        </form>
    </div>
</body>
</html>